@import 'https://fonts.googleapis.com/css?family=Montserrat+Alternates';
@import 'https://fonts.googleapis.com/css?family=Space+Mono';
@import 'https://fonts.googleapis.com/css?family=Dancing+Script';
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond';
html, body{
  font-family: 'Montserrat Alternates', sans-serif;
}
/* Navigation Bar */
.navbar {
    margin-bottom: 0;
<<<<<<< HEAD
    background-color: #366FF5; 
    background: #366FF5;
    border-color: #366FF5;
=======
    background-color: #65DB40; /*117799 #1E88E5*/
    background: #65DB40;
    border-color: #65DB40;
>>>>>>> origin/master
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}
.navbar a,button {
  color: white !important;
}
.navbar-toggle {  
<<<<<<< HEAD
  background: #366FF5;
  border-color: #366FF5;
}
.icon-bar{
  background-color: white;

=======
  background: #65DB40;
  border-color: #65DB40;
}
.icon-bar{
  background-color: white;
>>>>>>> origin/master
}
div.navbar div.navbar-inner ul.nav a:hover {
    color: black !important; 
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #555 !important;
    color: #fff !important;
}
<<<<<<< HEAD
#logo-img{
  background: url('../img/logo-small.png') no-repeat;
  background-size: 85px;
  width: 100px;
  height: 80px;
  margin: 10px 15px 10px 0px;
  text-shadow: white 0px 0px 2px;
}
h1.intro{
=======
.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.intro {
>>>>>>> origin/master
  font-family: 'Dancing Script', cursive;
  font-size: 10vw;
  text-align: center;
	color:white;
}
.intro-text{
<<<<<<< HEAD
  font-size: 2vw;
	text-align: center;
	letter-spacing: 4px;
}
@media screen and(max-width: 400px){
  .intro-text{
    font-size: 4vw;
  }
}
@media screen and(min-width: 401px) and (max-width: 780px){
  .intro-text{
    font-size: 5vw;
  }
}
=======
  font-size: 18px;
	text-align: center;
	letter-spacing: 4px;
}
>>>>>>> origin/master
.style-margin-top{
	margin-top: 50px !important;
	margin-left: 10px!important;
	margin-right: 10px!important;
}
.kor-text{
<<<<<<< HEAD
	margin-top: 10px;
}
#about{
  background-color: #EEEDFA 
=======
	font-family: 'Montserrat Alternates', sans-serif!important;
	margin-top: 10px;
}
#about{
  background-color: #EFFCEB; /*#E6F1F5*/
>>>>>>> origin/master
  width:auto;
  height:auto;
  
}
.about-text{
	font-size: 18px;
	text-align: left;
	padding-right: 40px;
	padding-left: 20px;
}
#portfolio{
<<<<<<< HEAD
	background-color: #EEEDFA 
	padding-top: 50px;
}
#contact{
background-color: #EEEDFA 
=======
	background-color: #EFFCEB;
	padding-top: 50px;
}
#contact{
background-color: #EFFCEB;
>>>>>>> origin/master
  width:auto;
  height:600px;
  padding-top: 50px; 
  line-height: 60pt;
}
.myText{
	font-family: 'Montserrat Alternates', sans-serif!important;
}
<<<<<<< HEAD
.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}
=======
>>>>>>> origin/master
hr{
  color: black !important;
  border-color: black !important;
  background-color: black!important;
  align:center!important;
  width: auto!important;
  margin: 0px!important;
  }
.custom{
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
}
.md-text{
  font-size: 18px;
  text-align: center;
}
.social-name {
    text-transform: uppercase!important;
    font-size: 14px!important;
    /*font-weight: 400;*/
    letter-spacing: 2px!important;
  }
<<<<<<< HEAD
  .btn-lg, .btn-group-lg > .btn {
    width: 150px;
  }
=======
>>>>>>> origin/master
.end-note{
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 30px;
  color: white;
  width: 100%;
  float: left;
  height: 80px;
<<<<<<< HEAD
  background-color: #366FF5;
=======
  background-color: #65DB40;
>>>>>>> origin/master
}
.quote-top{
padding-right:60px;
font-family: 'Cormorant Garamond', serif!important;
font-size: 18px;
<<<<<<< HEAD
}
@media (max-width: 767px){
  .navbar-brand{
    padding-top: 
    height:;
  }
   .footer-small{
    font-size: 2vw;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .kor-text{
    font-size: 1.5vw;
  }
}

=======
}
>>>>>>> origin/master
